#typeform-share button {

    align-items: center;
      text-align: center !important;
       position: center;
         -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;

}




/****** PLACE YOUR CUSTOM STYLES HERE ******/